
:root {
  --main-color: #fff;
  --primary-color: #97c010;
  --secondary-color: #464646;
  --border-color: #dee2e6;
}

/* Navbar CSS responsiveness for desktop */
@media screen and (min-width: 992px) {
  .nav-body {
    position: fixed;
    top: 0;
    left: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px;
    border-right: 1px solid var(--border-color);
    overflow: hidden;
  }

.app-container {
  display: flex;
}

.app {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.sidebar {
  width: 284px;
  height: 100vh;
  background-color: #fff;
  color: white;
  padding: 0;
  margin: 0;
}

.service-details {
  padding-top: 7%;
  padding-left: 15%;
  margin-left: 200px;
  color: var(--secondary-color);
}

.right-side-details {
  width: 100%;
  height: 100vh;
}

.bigger-stronger-heading {
  font-size: 2em; /* Adjust the font size as needed */
  font-weight: bold;
}

.smaller-min-cost {
  font-size: 0.8em; /* Adjust the font size as needed */
}

.discover-link {
  text-decoration: none;
  color: blue; /* Adjust the color as needed */
}

.bigger-reserve-button {
  font-size: 1.8em !important; /* Adjust the font size as needed */
  background-color: #97c010 !important;
  padding-block: 5% !important;
  /* padding-inline: 2% !important; */
  color: #fff; /* Adjust the text color as needed */
  border: none !important; /* Remove the border */
  /* border-radius: 50% !important; /* Adjust the border-radi */
}

.reserve-icon {
  margin-right: 5px; /* Adjust the margin as needed */
}

.arrow-icon {
  margin-left: 5px; /* Adjust the margin as needed */
}

.navbar-container {
  width: 284px; /* Set the width of the navbar */
  background-color: #fff; /* Example background color */
  color: white; /* Example text color */
}

/* MainContent.css */
.main-content-container {
  flex-grow: 1; /* Allow main content to grow and take remaining space */
  /*padding: 20px;  Example padding for main content */
}

  .logo-img {
    height: 150px; /* Adjust the height as needed */
    width: auto; /* Maintain the aspect ratio */
    margin-left: 26px; /* Optional: Add margin for spacing */
  }

  .navlink-text {
    font-size: 20px;
    font-weight: 800;
  }

  .sc-container {
    margin-top: 50px;
  }

  .social-icon {
    color: var(--secondary-color);
    font-size: 12px;
    padding: 5px;
  }

  .nav-body a.active {
    font-weight: bold;
    color: var(--main-color);
    background-color: var(--primary-color);
    width: calc(100% + 2 * 132px);
    transition: 0.3s ease-in-out;
  }

  .nav-body a.active .navlink-text {
    color: var(--main-color);
  }

  /* Services CSS */
  .carousel-body {
    height: 95vh;
    width: 100%;
    /* margin-left: 10%; */
    overflow: hidden;
  }

  .service-card {
    margin-left: 350px;
    margin-top: 50px;
  }

  .carousel-bg {
    background: var(--main-color);
    height: 100vh;
    width: 100%;
    /* margin-left: 5.5%; */
  }

  .card-body {
    margin-bottom: 20%;
  }

  .carousel-control-prev {
    /* position: fixed; */
    top: 50%;
    /* left: 20.8%; */
    background-color: #97c010;
    height: 45px;
    width: 90px;
    border-top-right-radius: 35px;  /* Adjust the value as needed */
    border-bottom-right-radius: 35px;
    font-size: 12px;  /* Adjust the value as needed */
  }

  .carousel-control-next {
    /* position: fixed; */
    top: 50%;
    background-color: #97c010;
    height: 45px;
    width: 90px;
    border-top-left-radius: 35px;  /* Adjust the value as needed */
    border-bottom-left-radius: 35px;
    font-size: 12px;  /* Adjust the value as needed */
  }

  .card-sizing {
    width: 20rem;
    height: 30rem;
    margin-left: -35%;
    border: none;
  }

  .showcase {
    margin-left: 500px;
    color: var(--secondary-color);
  }

  /* Service */

  .card-submit {
    margin-left: 350px;
  }

  .add-service-submit {
    margin-left: 280px;
    margin-top: 250px;
  }
}

/* Responsivness for mobile */

@media screen and (max-width: 768px) and (min-width: 320px) {
  /* navbar */
  .nav-body {
    background: transparent;
  }

  .navlink-text {
    font-size: 12px;
    font-weight: 600;
  }

  button.navbar-toggler {
    margin-right: 40rem;
    margin-top: 3rem;
    border: none;
  }

  span.navlink-text {
    margin-right: 30rem;
  }

  .nav-body a.active {
    font-weight: bold;
    color: #fff;
    background-color: #97c010;
    transition: 0.3s ease-in-out;
  }

  .nav-body a.active .navlink-text {
    color: var(--main-color);
  }

  /* logo */
  .logo-img {
    display: inline-block;
    height: 150px; /* Adjust the height as needed */
    width: auto; /* Maintain the aspect ratio */
    margin-left: 26px;
  }

  .menu-main {
    display: flex;
    align-items: stretch;
    flex-direction: row;
  }

  /* social media icons */
  .sc-container {
    display: none;
  }

  .social-icon {
    display: none;
  }

  .copy-right-text {
    display: none;
  }


  /* Service */
  .service-card {
    margin-left: 350px;
    margin-top: 50px;
  }
}
